*{
margin: 0 ;
padding: 0;
}

h1 {
font-family: Quicksand, Arial,sans-serif;
font-size: 2em;
font-weight: bold;
text-aling: center;
  
}


.header {
  background-image: url("http://www.planwallpaper.com/static/images/518169-backgrounds.jpg");
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;  
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  
}


